{% extends "base.html"%}
{% block content %}

<div class="jumbotron">

    <h1 style="color:black;">About Manual Model</h1>
    <br>
    <p>
    <h2>The Data Set</h2><br>
    The Manual (Score) Data Model used the data set from CASAS (Center for Advanced Studies in Adaptive Systems) in Washington State University.<br>
    The project provided a data set including the individual scores, total scores and health prediction for 400 participants in the experiment.<br>
    (source link: https://casas.wsu.edu/datasets/)<br>
    Our model use this data to train and test the model performance. In the testing phase, our model achieved an total 64% accuracy.<br>
    </p>
    <br>

    <p>
    <h2>The Algorithm</h2><br>
    We use XGBoost model to implement the machine learning model.<br>
    XGBoost is a decision-tree-based ensemble Machine Learning algorithm that uses a gradient boosting framework. <br>
    In prediction problems involving unstructured data (images, text, etc.), artificial Neural Networks tend to <br>
    outperform all other algorithms. However, when it comes to small-to-medium data, decision tree based algorithms <br>
    are considered best-in-class right now. 
    </p>

</div>

{% endblock %}
