{% extends "base.html"%}
{% block content %}
<div class="jumbotron">

    <h1>Welcome to join the test</h1>
    <br>
    <p>After the participant finish the 8 tasks, they will receive a score from 1-10 for each assignment.<br>
    In this simple mode, the score is provided by staff who watch the participant finish the task through camero.<br>
    This score might subject to the judge of the task.</p>
    <br>
    <p>
      Please input the scores of all the 8 activities<br>
      (This information is just for prediction. We won't save your info without your consent!)
    </p>
    <br>

    <div>
    <form action="/predict" method="POST">
    
      <p>Act 1:</p>
      <label class="radio-inline">
        <input type="radio" name="act1" value="1">1
      </label>
      <label class="radio-inline">
        <input type="radio" name="act1" value="2">2
      </label>
      <label class="radio-inline">
        <input type="radio" name="act1" value="3">3
      </label>
      <label class="radio-inline">
        <input type="radio" name="act1" value="4">4
      </label>
      <label class="radio-inline">
        <input type="radio" name="act1" value="5">5
      </label>
      <label class="radio-inline">
        <input type="radio" name="act1" value="6">6
      </label>
      <label class="radio-inline">
        <input type="radio" name="act1" value="7">7
      </label>
      <label class="radio-inline">
        <input type="radio" name="act1" value="8">8
      </label>
      <label class="radio-inline">
        <input type="radio" name="act1" value="9">9
      </label>
      <label class="radio-inline">
        <input type="radio" name="act1" value="10">10
      </label>

    <br>

    <p>Act 2:</p>
      <label class="radio-inline">
        <input type="radio" name="act2" value="1">1
      </label>
      <label class="radio-inline">
        <input type="radio" name="act2" value="2">2
      </label>
      <label class="radio-inline">
        <input type="radio" name="act2" value="3">3
      </label>
      <label class="radio-inline">
        <input type="radio" name="act2" value="4">4
      </label>
      <label class="radio-inline">
        <input type="radio" name="act2" value="5">5
      </label>
      <label class="radio-inline">
        <input type="radio" name="act2" value="6">6
      </label>
      <label class="radio-inline">
        <input type="radio" name="act2" value="7">7
      </label>
      <label class="radio-inline">
        <input type="radio" name="act2" value="8">8
      </label>
      <label class="radio-inline">
        <input type="radio" name="act2" value="9">9
      </label>
      <label class="radio-inline">
        <input type="radio" name="act2" value="10">10
      </label>
    <br>


      <p>Act 3:</p>
      <label class="radio-inline">
        <input type="radio" name="act3" value="1">1
      </label>
      <label class="radio-inline">
        <input type="radio" name="act3" value="2">2
      </label>
      <label class="radio-inline">
        <input type="radio" name="act3" value="3">3
      </label>
      <label class="radio-inline">
        <input type="radio" name="act3" value="4">4
      </label>
      <label class="radio-inline">
        <input type="radio" name="act3" value="5">5
      </label>
      <label class="radio-inline">
        <input type="radio" name="act3" value="6">6
      </label>
      <label class="radio-inline">
        <input type="radio" name="act3" value="7">7
      </label>
      <label class="radio-inline">
        <input type="radio" name="act3" value="8">8
      </label>
      <label class="radio-inline">
        <input type="radio" name="act3" value="9">9
      </label>
      <label class="radio-inline">
        <input type="radio" name="act3" value="10">10
      </label>
      <br>

      <p>Act 4:</p>
      <label class="radio-inline">
        <input type="radio" name="act4" value="1">1
      </label>
      <label class="radio-inline">
        <input type="radio" name="act4" value="2">2
      </label>
      <label class="radio-inline">
        <input type="radio" name="act4" value="3">3
      </label>
      <label class="radio-inline">
        <input type="radio" name="act4" value="4">4
      </label>
      <label class="radio-inline">
        <input type="radio" name="act4" value="5">5
      </label>
      <label class="radio-inline">
        <input type="radio" name="act4" value="6">6
      </label>
      <label class="radio-inline">
        <input type="radio" name="act4" value="7">7
      </label>
      <label class="radio-inline">
        <input type="radio" name="act4" value="8">8
      </label>
      <label class="radio-inline">
        <input type="radio" name="act4" value="9">9
      </label>
      <label class="radio-inline">
        <input type="radio" name="act4" value="10">10
      </label>
      <br>


      <p>Act 5:</p>
      <label class="radio-inline">
        <input type="radio" name="act5" value="1">1
      </label>
      <label class="radio-inline">
        <input type="radio" name="act5" value="2">2
      </label>
      <label class="radio-inline">
        <input type="radio" name="act5" value="3">3
      </label>
      <label class="radio-inline">
        <input type="radio" name="act5" value="4">4
      </label>
      <label class="radio-inline">
        <input type="radio" name="act5" value="5">5
      </label>
      <label class="radio-inline">
        <input type="radio" name="act5" value="6">6
      </label>
      <label class="radio-inline">
        <input type="radio" name="act5" value="7">7
      </label>
      <label class="radio-inline">
        <input type="radio" name="act5" value="8">8
      </label>
      <label class="radio-inline">
        <input type="radio" name="act5" value="9">9
      </label>
      <label class="radio-inline">
        <input type="radio" name="act5" value="10">10
      </label>
      <br>


      <p>Act 6:</p>
      <label class="radio-inline">
        <input type="radio" name="act6" value="1">1
      </label>
      <label class="radio-inline">
        <input type="radio" name="act6" value="2">2
      </label>
      <label class="radio-inline">
        <input type="radio" name="act6" value="3">3
      </label>
      <label class="radio-inline">
        <input type="radio" name="act6" value="4">4
      </label>
      <label class="radio-inline">
        <input type="radio" name="act6" value="5">5
      </label>
      <label class="radio-inline">
        <input type="radio" name="act6" value="6">6
      </label>
      <label class="radio-inline">
        <input type="radio" name="act6" value="7">7
      </label>
      <label class="radio-inline">
        <input type="radio" name="act6" value="8">8
      </label>
      <label class="radio-inline">
        <input type="radio" name="act6" value="9">9
      </label>
      <label class="radio-inline">
        <input type="radio" name="act6" value="10">10
      </label>
      <br>

      <p>Act 7:</p>
      <label class="radio-inline">
        <input type="radio" name="act7" value="1">1
      </label>
      <label class="radio-inline">
        <input type="radio" name="act7" value="2">2
      </label>
      <label class="radio-inline">
        <input type="radio" name="act7" value="3">3
      </label>
      <label class="radio-inline">
        <input type="radio" name="act7" value="4">4
      </label>
      <label class="radio-inline">
        <input type="radio" name="act7" value="5">5
      </label>
      <label class="radio-inline">
        <input type="radio" name="act7" value="6">6
      </label>
      <label class="radio-inline">
        <input type="radio" name="act7" value="7">7
      </label>
      <label class="radio-inline">
        <input type="radio" name="act7" value="8">8
      </label>
      <label class="radio-inline">
        <input type="radio" name="act7" value="9">9
      </label>
      <label class="radio-inline">
        <input type="radio" name="act7" value="10">10
      </label>
      <br>

      <p>Act 8:</p>
      <label class="radio-inline">
        <input type="radio" name="act8" value="1">1
      </label>
      <label class="radio-inline">
        <input type="radio" name="act8" value="2">2
      </label>
      <label class="radio-inline">
        <input type="radio" name="act8" value="3">3
      </label>
      <label class="radio-inline">
        <input type="radio" name="act8" value="4">4
      </label>
      <label class="radio-inline">
        <input type="radio" name="act8" value="5">5
      </label>
      <label class="radio-inline">
        <input type="radio" name="act8" value="6">6
      </label>
      <label class="radio-inline">
        <input type="radio" name="act8" value="7">7
      </label>
      <label class="radio-inline">
        <input type="radio" name="act8" value="8">8
      </label>
      <label class="radio-inline">
        <input type="radio" name="act8" value="9">9
      </label>
      <label class="radio-inline">
        <input type="radio" name="act8" value="10">10
      </label>
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>

</div>
{% endblock %}
