{% extends "base.html"%}
{% block content %}

<div class="jumbotron">

    <h1 style="color:red;">There might be some concern...</h1>
    <p>Our model prediction is a positive one. <br>
    There might be some issues about your health suggested by the test.<br>
    There might be some issues about your health suggested by the test.</p>

    <p>
      Please note, this is not a accurate diagnosis. <br>
      We just use machine learning technique to make a quick evaluation.<br>
      If you feel like there is issue with your health, please visit your<br>
      doctor to conduct a thorough medical examination. 
    </p>

</div>

{% endblock %}
